html {
    background-color: #fffdf8;
}

head {
    font-family: Arial, sans-serif;
    color: #e6e1d3;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin: 1%;
}

.highlight {
    background-color: rgb(7, 204, 24);
}

p.fina {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    color: rgb(255, 252, 240);
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-weight: 90;
    font-style: bold;
    color: rgb(255, 252, 240);;
}

.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(115, 43, 182, 0.89);
}

#menu { /* Essa organizaÃ§Ã£o do blocks e das divs estÃ£o meio estranha mas outrora eu dou improve nisso */
    font-family: "Outfit", sans-serif;
    display: inline-block;
    padding: 10px;
    color: rgb(41, 40, 41);
    font-family: Impact;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.menucfg a {
    display: block;
    color: rgba(141, 98, 221, 0.89);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menucfg a:hover:not(.active) {
    background-color: rgba(109, 16, 163, 0.89);
    color: rgba(141, 98, 221, 0.89);
}

.active {
    background-color: rgba(19, 214, 52, 0.89);
    text-decoration: none;
} 

.logo {
    display: inline-flex; 
    padding: 2px;
    border-radius: 0%; 
}

.logo a { 
    color: rgb(31, 28, 28);
    text-align: center;
    border-radius: 2%;
    padding: 12px 12px;
    text-decoration: none;
}

#logo-txt {
    padding: 10% 0;
    text-align: center;
    text-indent: 0%;
    font-family: "TTNormsBlack", sans-serif;
    font-weight: bold;
    font-size: 150%;   
/* text-shadow: 2px 2px 4px rgba(48, 47, 47, 0.5); CRIA UM SOMBREAMENTO NO TEXTO (BEM DAORA)*/   
}

#logo-img {
    align-content: center;
    
}

