html {
    background-color: #fffdf8;
}

head {
    font-family: Arial, sans-serif;
    color: #e6e1d3;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-family:"montserrat", sans-serif;
    color: rgb(39, 39, 35);
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    text-orientation: upright;

}

span {
    background-color:NONE;
    border-radius: NONE;
}

.highlight {
    background-color: rgb(7, 204, 24);
}

p.fina {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    color: rgb(255, 252, 240);
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-weight: 90;
    font-style: bold;
    color: rgb(255, 252, 240);;
}

.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(115, 43, 182, 0.89);
}

#menu { /* Essa organização do blocks e das divs estão meio estranha mas outrora eu dou improve nisso */
    font-family: "Outfit", sans-serif;
    display: inline-block;
    padding: 10px;
    color: rgb(41, 40, 41);
    font-family: Impact;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
li a {
    display: block;
    color: rgba(89, 0, 255, 0.89);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(79, 0, 143, 0.89);
    color: rgba(89, 0, 255, 0.89);
}

.active {
    background-color: rgba(0, 219, 37, 0.89);
    text-decoration: none;
} 

img {
    display: inline-block;

}
 /* Próximo passo é adicionar uma separação entre um menu e outro e trabalhar o alinhamento */

