html {
    background-color: #fffdf8;
}

head {
    font-family: Arial, sans-serif;
    color: #e6e1d3;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1%;
}

.highlight {
    background-color: rgb(7, 204, 24);
}

p.fina {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    color: rgb(255, 252, 240);
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: rgb(31, 30, 30);;
    
}

.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(115, 43, 182, 0.89);
}

#menu { 
    font-family: Impact;
    display: inline-block;
    padding: 10px;
    color: rgb(41, 40, 41);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.menucfg a {
    display: block;
    color: rgba(141, 98, 221, 0.89);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menucfg a:hover:not(.active) {
    background-color: rgba(109, 16, 163, 0.89);
    color: rgba(141, 98, 221, 0.89);
}

.active {
    background-color: rgba(19, 214, 52, 0.89);
    text-decoration: none;
} 

.logo {

    display: flex;
    padding: 2px ;
    text-align: center;

    
}

.logo a { 
    color: rgb(31, 28, 28);
    align-content: center;   
}

#logo-txt {
    padding: 1% 0% 1% 1%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 150%;
    font-stretch:semi-condensed;
    color: #252525;
    border-left: 1px solid rgba(54, 53, 53, 0.459);
    
    
    
/* text-shadow: 2px 2px 4px rgba(48, 47, 47, 0.5); CRIA UM SOMBREAMENTO NO TEXTO (BEM DAORA)*/   
}

#logo-img-box {
    padding: 1%    
}

.logo-img {
    height: 70px; 
    width: 95px; 
    
}

.mid-container {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    border: 20px;
    margin: 20px;
    padding: 5px;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
    background-color: rgba(233, 231, 231, 0.253);
   
}

h2 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#container-txt {
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight: normal;
    font-style: normal;
    text-align: justify;
}

